
<div class="container p-5">
  <h2 class="title text-center">･:*:･ﾟStudio Ghibli lists･:*:･ﾟ</h2>
  <h5 class="text-center">find new themes on your favorite Ghibli movies.</h5>
  <div class="row p-5">
    <% @lists.each do |list| %>
    <div class="col-sm-4 p-3">
     <div class="card card-index">
        <div class="card-body overflow-scroll">
            <h5 class="card-title text-center"><%= link_to list_path(list), class: "btn btn-flat stretched-link title-link" do %>
            <%= list.name %>
            <% end %></h5>
            <div class="posters row justify-content-between"><% @bookmarks = list.bookmarks %>
              <% @bookmarks.each do |bookmark| %>
                <% @movie_id = bookmark.movie_id %>
                <% @movie = Movie.where(id: @movie_id).select(:id, :poster_url).take %>
                <div class ="poster col-4"><%= image_tag @movie.poster_url %>
                </div>
              <% end %></p>
            </div>
          </div>
      </div>
    </div>
    <% end %>
    <%= link_to "Create your own list!", new_list_path, class: "btn btn-flat p-5 link" %>
  </div>
</div><!--.container-->
