<div class="container p-5">
<h3 class="text-center">Create a new list</h3>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'List name' %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
<%= link_to "Return", lists_path, class: "btn btn-flat" %>
</div>
