<h2><%= @list.name %></h2>
 <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= image_tag movie.poster_url %>
    <%= movie.title %>
    <%= movie.overview %>
  <% end %>
