// Specific CSS for your home-page
body {
  background-color: rgb(160, 201, 201);
  & p {
    color:rgb(57, 57, 57)
  }

  & h1, h2 {
    color: white;
  }

  & h3 {
    color: #d565bf;
  }
  & .title{
    font-size: 22px;
  }
  & h5 {
    color: #d565bf;
    font-size: 16px;
  }
  }

  .poster img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7;

  }

.card-index {
  border-radius: 20px;
  &:hover {
     background-color: #d565bf;
  }
}

.card-show {
  width: 250px;
  height: 400px;
  border-radius: 20px 20px 20px 20px;

  & img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  }
}

.ind {
  margin: 30px;
}

.link {
color: rgb(255, 255, 255);
font-weight: 300;
  &:hover {
    color:fade-out($color: #d565bf, $amount: 0);
    font-weight: bolder;
    opacity: 0.8;
  }
}

.title-link, .link-card {
  color:#d565bf;
  &:hover {
    font-weight: bolder;
    color: #ffffff;
  }
}
